<!DOCTYPE html>
<html>
  
	<head>
	
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>Pharmacy Database</title>
		<link rel="stylesheet" href="/style.css">
		
		<script src="/index.js" charset="utf-8" defer></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.runtime.js"></script>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"</script>
		
		{{#each jsscripts}}
			<script src="/static/{{this}}"></script>
		{{/each}}
		
	</head>

	<body>
    
    <img src="" id="images/banner" />
		
		<table class="content-container">
			<tbody>
				<tr>
					<td class="menu" valign="top">
						<br>
						<br>
						
						<center>
							<b><font size="6" color="#3af2f9">Menu</font></b>
							
							<div class="search-input-container">
								  <input type="text" placeholder="Search..." name="search-text" id="search-text" class="search-input">
							</div>

							<button id="search-button" class="action-button">Search</button>
						</center>
						
						<hr>
						
						<table>
							<tbody>
								<tr class="menu-item">
									<td class="menu-thumbnail-container">
										<a href="index.html"><img border="0" src="thumbnails/home.png" alt="Home" class="menu-thumbnail"></a>
									</td>
									
									<td valign="middle" class="menu-text-container">
										<a href="index.html" class="menu-text"><font size="5">Home</font></a>
									</td>
								</tr>
								
								<tr class="menu-item">
									<td class="menu-thumbnail-container">
										<a href="patient"><img border="0" src="thumbnails/equations.png" alt="Patients" class="menu-thumbnail"></a>
									</td>
									
									<td valign="middle" class="menu-text-container">
										<a href="patient" class="menu-text"><font size="5">Patients</font></a>
									</td>
								</tr>
								
								<tr class="menu-item">
									<td class="menu-thumbnail-container">
										<a href="medication"><img border="0" src="thumbnails/fractals.jpg" alt="Medication" class="menu-thumbnail"></a>
									</td>
									
									<td valign="middle" class="menu-text-container">
										<a href="medication" class="menu-text"><font size="5">Medication</font></a>
									</td>
								</tr>
								
								<tr class="menu-item">
									<td class="menu-thumbnail-container">
										<a href="doctor"><img border="0" src="thumbnails/designs.png" alt="Doctors" class="menu-thumbnail"></a>
									</td>
									
									<td valign="middle" class="menu-text-container">
										<a href="doctor" class="menu-text"><font size="5">Doctors</font></a>
									</td>
								</tr>
								
								<tr class="menu-item">
									<td class="menu-thumbnail-container">
										<a href="clinic"><img border="0" src="thumbnails/other.jpg" alt="Clinics" class="menu-thumbnail"></a>
									</td>
									
									<td valign="middle" class="menu-text-container">
										<a href="clinic" class="menu-text"><font size="5">Clinics</font></a>
									</td>
								</tr>
								
								<tr class="menu-item">
									<td class="menu-thumbnail-container">
										<a href="patient_medication"><img border="0" src="thumbnails/fractals.jpg" alt="Patient-Medication" class="menu-thumbnail"></a>
									</td>
									
									<td valign="middle" class="menu-text-container">
										<a href="patient_medication" class="menu-text"><font size="5">Patient-Medication</font></a>
									</td>
								</tr>
								
								<tr>
									<td class="menu-thumbnail-container">
										<br>
									</td>
								</tr>
								
							</tbody>
						</table>
					</td>
					
					<td valign="top">
										
						<header>
							
							<h1 class="site-title"><a href="https://github.com/lobrovir/Project_52">Pharmacy Database</a></h1>
							<br>
							
						</header>
						
						<table class="data-container">
							<tbody>
								<tr>
									{{{body}}}
								</tr>
							</tbody>
						</table>
						
					</td>
				</tr>
			</tbody>
		</table>
	
	</body>
</html>
