<!DOCTYPE html>
<html>
  
	<head>
	
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>Pharmacy Database</title>
		<link rel="stylesheet" href="/stylesheets/style.css">
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.runtime.js"></script>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		
		{{#each jsscripts}}
			<script src="/js/{{this}}"></script>
		{{/each}}
		
	</head>

	<body>
    
    <img src="" id="images/banner" />
		
		<table class="content-container">
			<tbody>
				<tr>
					<td class="menu" valign="top">
						<br>
						<br>
						
						<center>
							<b><font size="5" color="#3af2f9">Prescriptions</font></b>
							
							<div class="search-input-container">
								<form method="post" action="/search">
									<input type="text" class="search-input" name="search_query" placeholder="Search by keyword...">
									<button class="action-button" id="search-button">Search</button>
								</form>
							</div>
						</center>
						
						<hr>
						
						<table>
							<tbody>
								<tr class="menu-item">
									<td class="menu-thumbnail-container">
										<a href="/index.html"><img border="0" src="/thumbnails/home.jpg" alt="Home" class="menu-thumbnail"></a>
									</td>
									
									<td valign="middle" class="menu-text-container">
										<a href="/" class="menu-text"><font size="5">Home</font></a>
									</td>
								</tr>
								
								<tr class="menu-item">
									<td class="menu-thumbnail-container">
										<a href="/patient"><img border="0" src="/thumbnails/patient.jpg" alt="Patients" class="menu-thumbnail"></a>
									</td>
									
									<td valign="middle" class="menu-text-container">
										<a href="/patient" class="menu-text"><font size="5">Patients</font></a>
									</td>
								</tr>
								
								<tr class="menu-item">
									<td class="menu-thumbnail-container">
										<a href="/medication"><img border="0" src="/thumbnails/meds2.jpg" alt="Medications" class="menu-thumbnail"></a>
									</td>
									
									<td valign="middle" class="menu-text-container">
										<a href="/medication" class="menu-text"><font size="5">Medications</font></a>
									</td>
								</tr>
								
								<tr class="menu-item">
									<td class="menu-thumbnail-container">
										<a href="/doctor"><img border="0" src="/thumbnails/doctor.png" alt="Doctors" class="menu-thumbnail"></a>
									</td>
									
									<td valign="middle" class="menu-text-container">
										<a href="/doctor" class="menu-text"><font size="5">Doctors</font></a>
									</td>
								</tr>
								
								<tr class="menu-item">
									<td class="menu-thumbnail-container">
										<a href="/clinic"><img border="0" src="/thumbnails/clinic.png" alt="Clinics" class="menu-thumbnail"></a>
									</td>
									
									<td valign="middle" class="menu-text-container">
										<a href="/clinic" class="menu-text"><font size="5">Clinics</font></a>
									</td>
								</tr>
								
								<tr>
									<td class="menu-thumbnail-container">
										<br>
									</td>
								</tr>
								
							</tbody>
						</table>
					</td>
					
					<td valign="top">
										
						<header>
							
							<h1 class="site-title"><a href="https://github.com/Ibrahim9999/final-project-52">{{title}}</a></h1>
							<br>
							
						</header>
						
						<table class="data-container">
							<tbody>
								<tr>
									{{{body}}}
									<br/>
									<br/>
								</tr>
							</tbody>
						</table>
						
					</td>
				</tr>
			</tbody>
		</table>
	
	</body>
</html>
