<main class="content">

	{{> doctors}}
	
	<br/>
	
	<h3>Add new doctors (fix formatting and error handling):</h3>
	<form id="add-doctor" action="/doctor" method="post">
		First name: <input type="text" name="first_name"><br>
		Last name: <input type="text" name="last_name"><br>
		C_ID (make this a dropdown): <input type="int" name="C_ID"><br>
		<br>
		<input type="submit" value="Submit">
	</form>
	
	<br/>
	
</main>