<main class="homepage">
	
	<h2>About this database.</h2>
	<h4>Thumbnails need to be changed from a math theme to a pharmacy theme.</h4>
	<h4>Formats need to be adjusted on various pages for aesthetics.</h4>
	<h4>If there are no results for a table, "No results" instead of displaying an empty table.</h4>
	<h4>If there is a null clinic, a link will still appear. Remove the link for null clinics.</h4>

</main>