<main class="homepage">
	
	<h2>About this database.</h2>
	<h4>Thumbnails need to be changed from a math theme to a pharmacy theme.</h4>
	<h4>Formats need to be adjusted on various pages.</h4>
	<h4>If there are no results, do not display table and show "No results".</h4>
	<h4>Add full UPDATE to all pages.</h4>
	<h4>Database error where if clinic is deleted, doctors (handlebars issue) and doctor prescriptions don't show up: fix SQL.</h4>

</main>