<main class="homepage">
	
	<h2>About this database.</h2>
	<h4>Formats need to be adjusted on various pages for aesthetics.</h4>
	<h4>If there are no results for a table, "No results" instead of displaying an empty table.</h4>

</main>