<main class="homepage">
	
	<h2>Welcome</h2>
	<h4 style="padding: 0px 5px 0px 5px;">To find all prescriptions associated with a primary key or keyword feel free to submit to the search bar at any time.</h4>
	<h4>Otherwise click on any entity to the left for the associated table and entries. </h4>
	<h4>From there you can add a new entity, or click on an individual's primary key for further information.</h4>
	<h4>On an individual's page you will also find the ability to update their information.</h4>
	<h2>Thank you, and we hope you enjoy your experience.</h2>

</main>
