<main class="homepage">
	
	<h2>About this database.</h2>
	<h4>Thumbnails need to be changed from a math theme to a pharmacy theme.</h4>
	<h4>CRUD features have been implemented for patient, clinic, doctor, and medication.</h4>
	<h4>Foreign keys have not been implemented yet, so DELETEs will always work.</h4>
	<h4>The patient_medication table is the only one shown in this website, but there are more that will be addded.<h4>
	<h4>The relation tables are hardcoded in at the moment, and will be updated in the future to take directly from the database.</h4>

</main>