<main class="homepage">
	
	<h2>About this database.</h2>
	<h4>Thumbnails need to be changed from a math theme to a pharmacy theme.</h4>
	<h4>Formats need to be adjusted on various pages.</h4>

</main>