<main class="content">

	{{> medications}}
	
	<br/>
	
	<h3>Add new medications (fix formatting and error handling):</h3>
	
	<form id="add-medication" action="/medication" method="post">
		<label for="name-input">Name: </label><input type="text" name="name" id="name-input" required><br>
		<label for="p_safe-input">Pregnancy Safe: </label><input type="checkbox" value="1" name="p_safe" id="p_safe-input"><br>
		<br>
		<input type="submit" value="Submit">
	</form>

</main>