<form id="update-medication" action="/medication" method="post">
	<label for="name-input">Name: </label><input type="text" name="name" id="name-input" value="{{medication.name}}" required><br>
	<label for="p_safe-input">Pregnancy Safe: </label><input type="checkbox" value="1" name="p_safe" id="p_safe-input" {{medication.p_safe}}>{{medication.p_safe}}<br>
</form>

<br/>

<button onclick="updateMedication({{medication.ID}})">Update</button>

</tr><br/><br/><h2>Prescriptions:</h2><tr>

{{> prescriptions}}

