<main class="content">

	{{> medications}}
	
	<br/>
	
	<h3>Add new medications (fix formatting and error handling):</h3>
	<form id="add-medication" action="/medication" method="post">
		Name: <input type="text" name="name"><br>
		Pregnancy Safe (make this checkbox): <input type="int" name="p_safe"><br>
		<br>
		<input type="submit" value="Submit">
	</form>
	
	<br/>

</main>