<main class="content">

	{{> patients}}
	
	<br/>
	
	<h3>Add new patients (fix formatting and error handling):</h3>
	<form id="add-patient" action="/patient" method="post">
		SSN: <input type="int" name="SSN"><br>
		First name: <input type="text" name="first_name"><br>
		Last name: <input type="text" name="last_name"><br>
		Birthdate: <input type="date" name="birthdate"><br>
		<!--
		Homeworld: <select name="homeworld"> 
			{{#each doctor}}
				<option value="{{id}}">{{name}}</option>
			{{/each}}
		</select>
		-->
		<br>
		<input type="submit" value="Submit">
	</form>
	
	<br/>
	
</main>