<main class="content">

	<table id="patient-table" align="center">
		<thead>
			<th>SSN</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Birthdate</th>
		<thead>
		<tbody>
			{{#each patientArray}}
				
				<tr class="patient-row">
					<td>{{ssn}}</td>
					<td>{{fname}}</td>
					<td>{{lname}}</td>
					<td>{{bdate}}</td>
				</tr>
				
			{{/each}}
		</tbody>
	</table>
	
	<div align = "center">
		<button type="button"><a href="new_patient.html"></a>New Patient</button>
		<button type="button"><a href="del_patient.html"></a>Delete Patient</button>
		<button type="button"><a href="edit_patient.html"></a>Edit Patient</button>
	</div>
	  
	<form action=".html" method="post">
		<fieldset align = "center">
			<label>Input SSN for Patient's Doctors: <input type="number" name="numerical_input"></label>
			<br />
			<input type="submit" value = "submit">
		</fieldset>
	</form>
		
	<form action=".html" method="post">
		<fieldset align = "center">
			<label>Input SSN for Patient's Prescribed Medications: <input type="number" name="numerical_input"></label>
			<br />
			<input type="submit" value = "submit">
		</fieldset>
	</form>
	
	<div align = "center">
		<a href="patient_medication.html">Access Patients & Medications M:M</a>
	</div>

</main>