<main class="content">
	
	{{> prescriptions}}
	
	<br/>
	<br/>
	<hr>
	
	<br/>
	<h1><font size=60 color="cyan">Individual Results</font></h1>
	
	<h2>Patients</h2>
	{{> patients}}
	
	<br/>
	
	<h2>Doctors</h2>
	{{> doctors}}
	
	<br/>
	
	<h2>Medications</h2>
	{{> medications}}

</main>