table
{
	text-align: center;
	border-style:1px solid;
	margin: auto;
	table-layout: fixed;
}

th,
td:not(.menu-thumbnail-container):not(.menu-text-container):not(.delete):not(.update)
{
	padding:5px;
	border-style:solid;
	border-color:white;
}

div:not(.search-input-container)
{
	padding:20px;
}



.delete
{
	padding-left: 10px;
}

.update
{
	padding-left: 5px;
}

table.data-container
{
	margin-right: 800px; /* control width of container */
}

fieldset
{
	border: none
}

body
{
	font-family: 'Roboto', sans-serif;
	margin: 0;
	background: black;
	color: white
}

a
{
	text-decoration: none;
	color: #f67811;
}

.menu-text
{
	text-decoration: underline;
	color: #f93baa;
}

a:hover
{
	text-decoration: underline;
	color: cyan;
}

.site-title
{
	font-family: "Roboto Slab", serif;
	font-size: 60px;
	font-weight: 100;
	margin: 0 0 0 20px;
	padding: 30px;
}

.site-title a:hover
{
	text-decoration: underline;
}

.content
 {
	display: flex;
}

.menu-thumbnail
{
	width: 40px;
	height:40px;
}

.menu
{
	width: 200px;
	background-image: url('/backgrounds/black_rosco.jpg');
	background-repeat: repeat-y;
}

.search-input-container
{
	width: 95%;
	margin: 20px 0;
	margin-bottom: 0px;
	align-items: center;
	display: flex;
	align-items: center;
}

.search-input 
{
	font-size: 14px;
	flex: 1 auto;
	width: 95%;
	margin-left: 1px;
	padding: 3px;
	border: 1px solid #dadada;
	border-radius: 5px;
}

.action-button
{
	font-size: 16px;
	color: white;
	padding: 5px;
	margin: 10px;
	background-color: #000;
	border: 1px solid #ababab;
	border-radius: 5px;
	font-weight: lighter;
	cursor: pointer;
}

.action-button:hover
{
	background-color: #f9d2b2;
	border-color: #333;
	color: #333;
}

#search-button
{
	width: 50%;
}

.error-page
{
	font-family: "Roboto Slab", serif;
	text-align: center;
}

.error-page h2
{
	font-size: 128px;
	margin: 50px;
	color: white;
}

.error-page h3
{
	font-size: 32px;
	margin: 50px;
	color: white;
}
